html, body {
    margin:0;
    padding:0;
}
#sup {
    background-color: #75d9ef;
    border-color: #75d9ef;
}
.header {
    position:absolute;
    left:0;
    right:0;
    margin-bottom: 50px;
}
#header-text {
    position: absolute;
    left:20px;
    top:7.5px;
}
#header-buttons {
    
}
.jumbotron {
    float:left;
    clear:both;
    position: relative;
    margin-top: 80px;
}

