<!DOCTYPE html>
<html lang="en">
<head>
    <title>Companionate</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/index.css" rel="stylesheet" type="text/css" >
    <link href="../static/3-col-portfolio.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul id="header-buttons" class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a id="home-button" href="#">Home</a>
                    </li>
                    <li role="presentation"><a class="sign-buttons" href="/sign_in">Sign In</a>
                    </li>
                    <li role="presentation"><a class="sign-buttons" href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 id="header-text" class="text-muted">Companionate</h3>
        </div>
	<div class="jumbotron">
	    <h1>Companionate </h1>
            <h3>Premium Pet Sharing Service</h3>
            <p class="lead"></p>
            <p><a id="sup" class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
    <div class="btn-group dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Pet Type
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Dog</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Cat</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Fish</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Rock</a></li>
    	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
 
	</ul>
    </div> 
    </br>
    </br> <div class="input-group input-daterange">
	    <input type="text" class="form-control" value="Start Date: YYYY-MM-DD">
	        <div class="input-group-addon">to</div>
		    <input type="text" class="form-control" value="End Date: YYYY-MM-DD">
		    </div> 
		    </br>
		    <input type="text" name="location" value="Location"></br>
		    </br>
	 <p><a id="sup" class="btn btn-lg btn-success" href="/view_pets" role="button">Find Pets</a>
 


	</div>
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://www.checkouttheseanimals.com/lib/008/518-cats.jpg" alt="">
            </a>
            <h3>
                <a href="#">Featured Floof</a>
            </h3>
            <p>Meet Valkyrie, currently residing in Montreal, who loves to pets!</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://indoorpaws.com/wp-content/uploads/2016/03/Um-you-haventFed-me-yet-7.jpg" alt="">
            </a>
            <h3>
                <a href="#">Featured Kitty</a>
            </h3>
            <p>Say hello to Misty, a big cuddler and real sweetheart.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/originals/d6/e8/00/d6e800b81d588b69f909370a5a71dccb.jpg" alt="">
            </a>
            <h3>
                <a href="#">Featured Cat</a>
            </h3>
            <p>Meet Angel, a free spirit but not one to turn down attention!</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://topdogtips.com/wp-content/uploads/2017/01/Checklist-for-Adopting-a-New-Dog-or-Puppy-4.jpg" alt="">
            </a>
            <h3>
                <a href="#">Featured Pupper</a>
            </h3>
            <p>Meet Spot.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="https://www.barknflyonline.com/files/pages/barknfly-ft-2.jpg" alt="">
            </a>
            <h3>
                <a href="#">Featured Doggo</a>
            </h3>
            <p>Meet Doge.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://listyarmunthe.com/goldenretriever.jpg" alt="">
            </a>
            <h3>
                <a href="#">Featured Doggo</a>
            </h3>
            <p>Meet Clifford.</p>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; Companionate 2017</p>
    </footer>
</div>
</body>
</html>

