<!DOCTYPE html>
<html lang="en">

<head>
   <title>Companionate</title>


  <!--  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

   <link href="../static/index.css" rel="stylesheet" type="text/css" >


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul id="header-buttons" class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a id="home-button" href="#">Home</a>
                    </li>
                    <li role="presentation"><a class="sign-buttons" href="/sign_in">Sign In</a>
                    </li>
                    <li role="presentation"><a class="sign-buttons" href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 id="header-text" class="text-muted">Companionate</h3>
        </div>

        <div class="jumbotron">
           <h1>Companionate Pet Sharing Service</h1>
           <p class="lead"></p>
           <p><a id="sup" class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
           </p>
       </div>

       <div class="row marketing">
          <div class="col-lg-6">
              <h4>Bucket List</h4>
              <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

              <h4>Bucket List</h4>
              <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

              <h4>Bucket List</h4>
              <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
          </div>

          <div class="col-lg-6">
           <h4>Bucket List</h4>
           <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

           <h4>Bucket List</h4>
           <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

           <h4>Bucket List</h4>
           <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
       </div>
   </div>

   <footer class="footer">
    <p>&copy; Companionate 2017</p>
</footer>

</div>
</body>

</html>

