<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Companionate - View Pets</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/view_pets.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            #map {
                width: 111%;
                height: 400px;
                background-color: grey;
            }
        </style>
    </head>

    <body>
        <!-- Page Content -->
        <div class="container">

            <div class="header">
              <nav>
                <ul id="header-buttons" class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a id="home-button" href="/">Home</a>
                    </li>
                    <li role="presentation"><a class="sign-buttons" href="/sign_in">Sign In</a>
                    </li>
                    <li role="presentation"><a class="sign-buttons" href="/sign_up">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 id="header-text" class="text-muted">Companionate</h3>
        </div>

        </br>
        </br>
        </br>
        </br>

    </br>

    <div class="row">
        <div class="col-md-2">
            <p class="lead">Pets Available</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Dogs</a>
                <a href="#" class="list-group-item">Cats</a>
                <a href="#" class="list-group-item">Fish</a>
                <a href="#" class="list-group-item">Rock</a>
                <a href="#" class="list-group-item">Other</a>

            </div>
        </div>

        <div class="col-md-9">

            <!-- MAP SECTION BEGINS -->

            <!--  <h3>Pets Available Around Specified Location</h3> -->
            <div id="map"></div>
            <script>
              function initMap() {

                var princeton = {lat: 40.344184, lng:-74.6530418};
                var oakridge = {lat: 40.772692, lng:-74.2521097};
                var rutgers = {lat: 40.5008227, lng:-74.4495878};
                var springLake = {lat: 40.1537463, lng: -74.0447293};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 4,
                  center: princeton
              });
                var marker = new google.maps.Marker({
                  position: princeton,
                  map: map
              });
                var marker = new google.maps.Marker({
                  position: oakridge,
                  map: map
              });
                var marker = new google.maps.Marker({
                  position: rutgers,
                  map: map
              });
                var marker = new google.maps.Marker({
                  position: springLake,
                  map: map
              });
            }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsgfcdK7-QlJ6bHrLAwvLb-vwXZ8zNXmw&callback=initMap">
    </script>

</div>
</div>

<!-- MAP SECTION ENDS -->
</br>



<div class="row">

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="http://andrewwilsonmedia.com/wp-content/uploads/2012/02/Cat-Nap-Thumbnail-320x150.jpg" alt="">
            <div class="caption">
               <!--                      <h4 class="pull-right">$24.99</h4> -->
               <h4><a href="#">Boots</a>
               </h4>
               <p>Boots is the perfect lap warmer, and he'll chase a laser for hours!</p>
           </div>
           <div class="ratings">
            <p class="pull-right">15 reviews</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
            </p>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="https://duazurecdn.azureedge.net/media-manager/20160804/d5a2144f-ce49-426e-8018-dcbd890df942/320/1_adam-rodgers-puppy.jpg" alt="">
        <div class="caption">
            <!-- <h4 class="pull-right">$64.99</h4> -->
            <h4><a href="#">Milo</a>
            </h4>
            <p>Milo loves attention and would love to make your day! Failed a test, just got dumped, or facing crippling debt? Milo will make you feel better!</p>
        </div>
        <div class="ratings">
            <p class="pull-right">12 reviews</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placekitten.com/320/150" alt="">
        <div class="caption">
            <!-- <h4 class="pull-right">$74.99</h4> -->
            <h4><a href="#">Tiger</a>
            </h4>
            <p>Tiger is a sweetheart who also has a knack for getting into trouble. We are looking for someone to watch him for two weeks while we are away.</p>
        </div>
        <div class="ratings">
            <p class="pull-right">31 reviews</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://www.supplygeeks.com/Images/dog-label.png" alt="">
        <div class="caption">
            <!-- <h4 class="pull-right">$84.99</h4> -->
            <h4><a href="#">Dudley</a>
            </h4>
            <p>Dudley gets separation anxiety during the day and needs company. He's a loaf who likes to lay around with you and stays by your side all day.</p>
        </div>
        <div class="ratings">
            <p class="pull-right">6 reviews</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="https://duazurecdn.azureedge.net/media-manager/20160804/23a973d1-03ed-4f2b-9460-64e06f16c452/320/1_20160116114501-Samuel-Strom-IMG4308-2.jpg" alt="">
        <div class="caption">
            <!-- <h4 class="pull-right">$94.99</h4> -->
            <h4><a href="#">Daisy</a>
            </h4>
            <p>We are looking for someone to walk Daisy while we are at work.</p>
        </div>
        <div class="ratings">
            <p class="pull-right">18 reviews</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://www.binkybunny.com/Portals/0/activeforums_Attach/043_image.jpg" alt="">
        <div class="caption">
            <!-- <h4 class="pull-right">FREE</h4> -->
            <h4><a href="#">Monk</a>
            </h4>
            <p>Monk is looking for a place to stay for two weeks. He is housebroken and gets along with other pets.</p>
        </div>
        <div class="ratings">
            <p class="pull-right">15 reviews</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </p>
        </div>
    </div>
</div>

    <!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Companionate 2017</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>